{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/x-icon" href="{% static 'assets/logo.png' %}">
    <title>Yummypiv Project</title>
    <link href="{% static 'css/landing.css' %}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <nav id="navbar-panel" class="navbar">
        <div id="logo" class="logo"></div>
        <ul id="navbar-menu">
            <li class="active">Ringkasan</li>
            <li class=""><a href="/portofolio/">Portofolio</a></li>
        </ul>
        <div id="navbar-button" class="nav-hamburger">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
        </div>    
    </nav>
    
</head>

<body>
    
    <div class="jumbotron">
        <div class="left-container">
            <h2 class="title-jumbotron color-white">
                Yummypiv Project
            </h2>
            <p class="description-jumbotron color-white">Solusi pengembangan SOFTWARE dan riset teknologi terbaru yang terintegrasi.
            </p>
            <div class="action">
                <div class="btn button-get-started">
                    <a class="color-white" href="https://api.whatsapp.com/send?phone=83837358230&text=Konsultasi">KONSULTASI SEKARANG</a>
                </div>
            </div>
        </div>
        <div class="right-container">
           <!-- <img src="assets/jumbotron-img.png" alt=""> -->
                <img src="{% static 'assets/jumbotron-img.png' %}" alt="">
        </div>
        <hr>
    </section>


        </div>
    </div>

    

    <!-- Service / Layanan -->
    <div id="service-section" class="service-jumbotron">
        <div class="title-purpose">
            <h2>Mengapa memilih</h2>
            <p>&nbsp;Yummypiv ?</p>
        </div>
        <div class="pros-container">
            <div class="pros-panel">
                <img src="{% static 'assets/secure.png' %}" width="50px"></img>
                <p class="text-title">Keamanan</p>
                <p class="pros-panel text-desc">Mengutamakan keamanan dari produk yang dikembangkan.</p>
            </div>
            <div class="pros-panel">
                <img src="{% static 'assets/trusted.png' %}" width="50px"></img>
                <p class="text-title">Terpercaya</p>
                <p class="pros-panel text-desc">Memiliki kredibilitas tinggi terhadap hubungan kerja.</p>
            </div>
            <div class="pros-panel">
                <img src="{% static 'assets/trust.png' %}" width="50px"></img>
                <p class="text-title">Integrasi</p>
                <p class="pros-panel text-desc">Pengembangan yang terintegrasi.</p>
            </div>
            <div class="pros-panel">
                <img src="{% static 'assets/cs.png' %}" width="50px"></img>
                <p class="text-title">Bantuan 24/7</p>
                <p class="pros-panel text-desc">Bebas konsultasi setiap project.</p>
            </div>
        </div>
    </div>


    <!-- Purpose -->
    <div class="purpose-jumbotron">
        <h2 style="text-align: center; margin-bottom: 0;">Dipercaya oleh</h2>
        <div class="client-wrapper">
            <div class="client-item">
                <img src="{% static 'assets/mjm-ico.png' %}"></img>
            </div>
            <div class="client-item">
                <img src="{% static 'assets/lbh-ico.png' %}"></img>
            </div>
            <div class="client-item">
                <img src="{% static 'assets/dinsos-ico.png' %}"></img>
            </div>
            
        </div>
    </div>


    <div class="foot-jumbotron">        
            <p style="color: white; font-weight: 600;">WA: 083837358230</p>
            <p style="color: white; margin: 0;" >Copyright © 2023 Yummypiv</p>
    </div>



</body>
<script src="{% static 'js/responsive-mobile.js' %}"></script>

<script>




</script>

</html>
