{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/x-icon" href="{% static 'assets/logo.png' %}">
    <title>Yummypiv Project</title>
    <link href="{% static 'css/portofolio.css' %}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <nav id="navbar-panel" class="navbar">
        <div id="logo" class="logo"></div>
        <ul id="navbar-menu">
            <li class=""><a href="/">Ringkasan</a></li>
            <li class="active">Portofolio</li>
        </ul>
        <div id="navbar-button" class="nav-hamburger">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
        </div>    
    </nav>
    
</head>

<body>
    
    <div class="jumbotron">
        <h2 class="color-white" style="font-weight: bold;">Portofolio Kami</h2>
        <div class="wrapper-porto">
            <div class="item-porto">
                <img class="image-porto" src="{% static 'assets/lbh-porto.png' %}">
                <div class="desc-porto">
                    <div class="title-porto" style="color:rgb(87, 87, 87)">LBH Sortice</div>
                    <div class="info-porto" style="color: rgb(110, 110, 110);">Management Content Web Based dengan tampilan clean UI.</div>
                </div>
            </div>
            <div class="item-porto">
                <img class="image-porto" src="{% static 'assets/mjm-porto.png' %}">
                <div class="desc-porto">
                    <div class="title-porto" style="color:rgb(87, 87, 87)">Sistem Monitoring Hardware</div>
                    <div class="info-porto" style="color: rgb(110, 110, 110);">Sistem Monitoring Hardware yang bisa diakses dari internet menggunakan protokol HTTPS, sehingga bisa memantau perangkat dari jauh</div>
                </div>
            </div>
            <div class="item-porto">
                <img class="image-porto" src="{% static 'assets/erp-porto.png' %}">
                <div class="desc-porto">
                    <div class="title-porto" style="color:rgb(87, 87, 87)">ERP</div>
                    <div class="info-porto" style="color: rgb(110, 110, 110);">Sistem ERP untuk diterapkan pada perusahaan agar proses kerja menjadi optimal dan efisien</div>
                </div>
            </div>
            <div class="item-porto">
                <img class="image-porto" src="{% static 'assets/td-porto.png' %}">
                <div class="desc-porto">
                    <div class="title-porto" style="color:rgb(87, 87, 87)">Program MCU/ESC</div>
                    <div class="info-porto" style="color: rgb(110, 110, 110);">Pembuatan program Electronic Control Speed untuk mengatur kecepatan motor secara wireless</div>
                </div>
            </div>
        </div>
    </section>


        </div>
    </div>


    <div class="foot-jumbotron">        
            <p style="color: white; font-weight: 600;">WA: 083837358230</p>
            <p style="color: white; margin: 0;" >Copyright © 2023 Yummypiv</p>
    </div>



</body>
<script src="{% static 'js/responsive-mobile.js' %}"></script>

<script>




</script>

</html>
